@media (max-width:1250px) {
      .fablog-container{
        padding: 40px 30px;
    }
    
}
@media (max-width:1180px) {
    .carousel-slider li img {
        max-width: 200px;
        height: 120px;
    }
    .fablog-container{
        padding: 40px 30px;
        gap: 15px;
    }
    .fablog-container,.fablog-image :nth-child(3), .fablog-container,.fablog-image :nth-child(3){
        display: flex;
        flex-wrap: wrap;
    }
    
}
@media (max-width:980px) {
    .carousel-section{
        height: 250px;
    }
    .menu-block{
        flex-direction: column;
        display: none;
        margin-top: 10px;

    }
    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .logo{
        width: 100%;
    }
    .logo img{
        width: 30px;
    }
    .menu-block  li{
        background-color: #b0c2ce;
    }
    .fa-bars{
        display: block;
    }
    #service-menu, #news-menu{
        display: flex;
        flex-direction: row;
    }
    #service-dropdown, #news-dropdown{
        left: 190px;
        top: 0px;
        
    }
    #service-dropdown.active, #news-dropdown.active{
        display: flex;
    }
    .search-form{
        display: none;
        width: 100%;
        margin: 10px 0px;
    }
    .p-slider{
        width: 80%;
    }
    
}