body{
    font-family: 'FiraGO';
}
header{
    width: 100%;
    padding:  10px 30px;
    background-color: #b0c2ce;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 30px;
    padding-left: 30px;
    background-color: #b0c2ce; */
}

.logo img{
    width: 100px;
}
.logo{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-form{
    width: 400px;
    position: relative;
    display: none;
}
.search-bar{
    width: 100%;
    height: 50px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    box-shadow: 0 6px 10px rgb(0 0 0 / 5%);
    outline-color: #e5e5e5;
    background-color: white;
    padding-left: 35px;
    font-family: 'Lato'
}
.fa-magnifying-glass{
    position: absolute;
    left: 10px;
    top:35%;
}
.menu-block{
    display: flex;
    align-items: center;
    z-index: 1;

}
.menu-block  li{
    /* background-color: #95a6b1; */
    padding: 10px 15px;
    color: white;
    margin-right: 2px;
    margin-left: 2px;
    transition: all 0.8s ease-in-out;
    z-index: 1;
    font-size: 18px;
}
.menu-block  li:hover{
    cursor: pointer;
    background-color: rgb(153, 191, 204);
}
#service-menu, #news-menu{
    position: relative;
}
#service-dropdown, #news-dropdown{
    display: none;
    position: absolute;
    top: 35px;
    left: 0px;
    z-index: 1;
    background-color: #b0c2ce;
}
#service-dropdown li, #news-dropdown li{
    border: 2px;
}
#service-dropdown.active, #news-dropdown.active{
    display: block;
}
.fa-bars, .fa-xmark{
    color: white;
    display: none;
}
.burger-bar-open, .burger-bar-close{
    width: 30px;
    color:white;
}

/* carousel-section */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
.carousel-dots{
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 45%;
   
}
  
.active1, .dot:hover {
    background-color: #717171;
  }
.carousel-section{
    width: 100%;
    height: 600px;
    
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.carusel-images{
    width: 100%;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
.carusel-images img{
    width: 100%;
    height: 100%;
}
.prev{
    position: absolute;
    top: 45%;
    left: 2%;
    color: white;
    cursor: pointer;
    font-size: 30px;
}
.next{
    position: absolute;
    top: 45%;
    right:2%;
    color: white;
    cursor: pointer;
    font-size: 30px;
}

main{
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* fablog-section */

.p-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 95%;
}

.p-slider h1{
    margin-bottom: 30px;
    font-size: 25px;
    color: rgba(0,118,193,255);
    font-weight: bold;
    font-size: 30px;
}

.product-box{
    display: flex;
    flex-direction: column;
    width: 280px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}
.p-img-container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
.p-img a,
.p-img{
    width: 100%;
    height: 100%;
    display: flex;
}
.p-img a img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}
.product-categotr{
    font-size: 17px;
    margin-top: 10px;
}


/* technic-section */
.technic-block{
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.technic-block h2{
    color: rgba(0,118,193,255);
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}
.tech-paragraph{
    font-size: 18px;
    margin-bottom: 40px;
}
.technic-list{
    font-size: 18px;
}
.tech-block-wrapper{
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.tech-block-img img{
    width: 150px;
}
.technic-list p {
    margin-bottom: 15px;
    text-align: start;
}
.technic-list :nth-child(1)::before{
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background-color: red;
    margin-right: 10px;
}
.technic-list  :nth-child(2)::before{
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background-color: rgb(70, 70, 241);
    margin-right: 10px;
}
.technic-list :nth-child(3)::before{
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background-color: purple;
    margin-right: 10px;
}
.technic-list :nth-child(4)::before{
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background-color: yellow;
    margin-right: 10px;
}
.technic-list :nth-child(5)::before{
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background-color: lightblue;
    margin-right: 10px;
}

/* project-slider */
.project-slider-secion h2{
    text-align: center;
    margin: 70px 0 30px 0;
    color: rgba(0,118,193,255);
    font-weight: bold;
    font-size: 30px;
}
.parent{
    display: flex;
    align-items: center;
}
.slider-wrapper{
    overflow: hidden;
}
.slider-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 400px; */
    width: 151%;
    overflow: hidden;
}
.child{
    /* width: 20%; */
    margin-left: 10px;
    margin-right: 10px;
    /* display: none; */
    border: 2px red solid;
    border-radius: 10px;
    height: 300px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom:40px;
    position: relative;
    opacity: 1;
    backface-visibility: hidden;
    transition: 0.2s ease-in-out;
}
.child img{
    width: 270px;
    height: 200px;
    padding: 30px 10px 0px 10px;
    position: relative;
}
.child img:hover{
    opacity: 0.3;
}
/* .child h3::after{
    content: "";
    border: 1px red solid;
    width: 100%;
    height: 0px;
    display: block;
    background-color: red;
    margin-top: 10px;
    margin-bottom: 10px;
} */
.child h3{
    margin: 15px 0px;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
}
.child span{
    font-size: 11px;
}
.button {
    width: 60px;
    height: 25px;
    /* margin-top: 10px; */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    transition: 0.5s ease-in-out;
    opacity: 0;
    
}

.child:hover .button{
    opacity: 1;
}
#leftarrow,#rightarrow{
    margin-left: 12px;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: #666;
    opacity: 40%;
}
/* footer */
footer{
    margin-top: 100px;
    background-color: #b0c2ce;
    padding: 30px;
}

.contact-info-wrapper{
    display: flex;
    justify-content:center;
    align-items: center;
    line-height: 40px;
    font-size: 20px;
    color: white;
    font-weight: 50px;
}
.contact-info-wrapper a{
    color: white;
}
.contact-info-wrapper i {
    margin-right: 10px;
}
.footer-img-box{
    display: flex;
    justify-content: space-around;
}
.footer-img-box img{
    width: 100px;
}